.containSkill {
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    /* overflow: hidden; */
}

.skillSlider {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.skillItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillSlider .skillItem img {
    width: 160px;
    height: 130px;
    margin: 0 auto 15px auto;
}

@media (max-width: 768px) {
    .skillSlider .skillItem img {
        width: 120px;
        height: 100px;
        margin: 0 auto 15px auto;
    }

    .skillItem h1 {
        font-size: 1em;
    }
}