.containerResume {
    margin-top: 14rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    /* overflow: hidden; */
}

.mainResume {
    white-space: initial;
    width: 80vw !important;
}

.cardResume {
    width: 100%;
    border: 1px solid rgb(255, 255, 255) !important;
    background-color: rgba(21, 21, 21, .7) !important;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
    padding: 60px 50px;

    color: #fff !important;
    text-shadow:
        /* White glow */
        0 0 1.2px #fff,
        0 0 1.2px #fff,
        0 0 1.2px #fff !important;
}