.containerAbout {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profileContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.profileAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.profilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height:60%;
}

.profilePicture
video {
    border-radius: 10%;
    align-items: center;
    
}


/* Style for the lists */
.listOne ul {
    list-style-type: none;
    /* Remove default list bullets */
    padding: 0;
    /* Remove default list padding */
}

.listOne li {
    margin: 5px 0;
    /* Add some spacing between list items */
}

@media (max-width:768px) {

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .profilePicture {
        width: 100%;
        height:80%;
    }
    .profileAbout, .profileContent{
        width: 90%;
        height: 90%;
    }
}