.bg {
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/header-background.webp");
  background-size: cover;
}

.mainContain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.mainAbout {
  color: white;
  text-align: center;
  padding: 20px;
  border: #ccc;
  border-radius: 0.5%;
  width: 50%; /* Adjust the width as needed for your design */
  max-width: 600px;
  background-color: rgba(238, 238, 238, 0.4);
  overflow: hidden;
  white-space: nowrap;
}

.mainAbout h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  border-right: 0.15em solid #18bdec;
  display: inline-block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: blink 1s steps(1) infinite;
  animation: typing 5s steps(30) infinite alternate;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .mainAbout {
    width: 90%; /* Adjust the width for smaller screens */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
