.bg {
  width: 100%;
  height: 100vh;
  /* background-image: url("./../../assets/banner-bg.png") top center no-repeat; */
  /* background-size: cover; */
  background-image: url("src/assets/banner-bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.mainContain {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  height: 100vh;
  animation: bounce;
  animation-duration: 2s;
}

.mainAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  border: #ccc;
  border-radius: 0.5%;
  width: 50%;
  /* Adjust the width as needed for your design */
  max-width: 600px;
  /* background-color: rgba(122, 122, 122, 0.4); */
  overflow: hidden;
  white-space: nowrap;
}

.heroImg {
  width: 50%;
  animation: updown 3s linear infinite;
  -webkit-animation: updown 3s linear infinite;
}

.heroImg img {
  width: 80%;
  height: 80%;
}

.title {
  width: 100%;
}

.title h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  border-right: 0.15em solid #18bdec;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: blink 1s steps(40) infinite;
  animation: typing 3s steps(40) infinite alternate;
}

.scrollBtn {
  width: 100%;
}

.scrollBtn button {
  display: flex;
  /*centrar imagen */
  margin: 0 auto;
  background: none;
  border: none;
  animation: updown 3s linear infinite;
  -webkit-animation: updown 3s linear infinite;
}

/* Media Query for Responsive Design */

@media (max-width: 900px) {
  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
  }

  .mainContain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
  }

  .mainAbout {
    overflow: inherit;
    width: 80%;
  }

  .scrollBtn {
    width: 100%;
    height: 0;
  }

  .title h1 {
    border-right: none;
    animation: none;
    animation: none;
  }
}

@media (max-width: 768px) {

  .title h1 {
    font-size: 2.2rem;
  }

  .title h4 {
    font-size: 1.3rem;
  }

  .mainAbout {
    width: 90%;
    /* Adjust the width for smaller screens */
  }
}

@media (max-width: 500px) {

  .mainAbout {
    overflow: inherit;
    width: 100%;
  }

  .mainContain {
    width: 100%;
    height: 100%;
  }

}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-50%);
    opacity: 1;

  }

  50% {
    -webkit-transform: translateY(10%);
    opacity: .5;
  }

  100% {
    -webkit-transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}