@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/PressStart2P-vaV7.ttf") format("truetype");
}

body {
  font-family: "Press Start 2P" !important;
  font-size: 12.5px !important;
  font-weight: 100;
  overflow-x: hidden;
  position: relative;
  background-image: url("./assets/mario.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff !important;
  text-shadow:
    /* White glow */
    0 0 1.2px #fff,
    0 0 1.2px #fff,
    0 0 1.2px #fff !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */

  /* Ocultar scroll */
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}